<footer>
  <nav
    class="navbar is-fixed-bottom"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img
          src="/images/belfastIndoorBowlsLogo.png"
          width="auto"
          height="200"
        />
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="/images/irishBowlingAssociationLogo.png"
            width="auto"
            height="200"
          />
        </a>
      </div>
    </div>
  </nav>
</footer>
