<footer>
  <nav
    class="navbar is-fixed-bottom"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img
          src="/images/belfastIndoorBowlsLogo.png"
          width="auto"
          height="200"
        />
      </a>
    </div>




    <nav class="level">
      <div class="level-item has-text-right">
        <div>
          <p class="heading">
          <a href="#Welcome-To-The-Stadium">Visit the hub</a>
          </p>
        </div>
      </div>
    </nav>



    <nav class="level">
      <div class="level-item has-text-right">
        <div>
          <p class="heading">
<a href="">Terms</a>
<a href="">Privacy</a>
          </p>
        </div>
      </div>
    </nav>


    <div class="navbar-end">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="/images/irishBowlingAssociationLogo.png"
            width="auto"
            height="200"
          />
        </a>
      </div>
    </div>
  </nav>
</footer>
