<nav class="level">
  <p class="level-item level-left">
    <img class="topLeftLogo" src="/images/belfastIndoorBowlsLogo.png" width="auto" height="auto"
      style="height:140px;" />
    <a style="display: none;" class="link is-info">{{ site.title }}</a>
  </p>

  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/home" class="navbar-item">
        Home
      </a>

      <a href="/info" class="navbar-item">
        Info
      </a>

      <a href="/bowling-events" class="navbar-item">
        Bowling Events
      </a>

      <a href="/social-events" class="navbar-item">
        Social Events
      </a>

      <a href="/shop" class="navbar-item">
        Shop
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="modal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Modal title</p>
              <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <!-- Content ... -->
            </section>
            <footer class="modal-card-foot">
              <button class="button is-success">Save changes</button>
              <button class="button">Cancel</button>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar-item has-dropdown is-hoverable">
      <a href="/faq" class="navbar-link">
        Recently Sold Items
      </a>
      <div class="navbar-dropdown">
        <a href="/what-are-vegan-cakes" class="navbar-item">
          Chalk spray | Price: £4.00
        </a>
        <a href="/gluten-free-vegan-cakes" class="navbar-item">
          Henselite Grippo Polish | Price: £5.50
        </a>
        <a href="/where" class="navbar-item">
          Drakes Pride four bowl carriers | Price: £9.50
        </a>
        <a href="/weddings" class="navbar-item">
          Henselite Men's White Trousers | Price: £36.00
        </a>
        <hr class="navbar-divider" />
        <a href="/contact" class="navbar-item">
          Buy a bowling starter pack
        </a>
        <a href="/order" class="navbar-item">
          Visit online store and browse our shop
        </a>
      </div>
    </div>

    <div class="navbar-item">
      <div class="buttons">
        <a href="/order" class="button is-primary">
          <strong>Memebership</strong>
        </a>

        <a href="/contact" class="button is-light">
          Venue
        </a>

        <a href="/contact" class="button is-light">
          Contact
        </a>

        <div class="navbar-item">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="/images/irishBowlingAssociationLogo.png" width="auto" height="auto" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>