<div class="carousel is-5 carousel-animated carousel-animate-slide">
  <div class="carousel-container">
    <div class="carousel-item is-active">
      <figure class="image is-2by1">
        <img src="../images/unedited/even-better-man-throwing-bowl-640.jpg" />
      </figure>
    </div>
    <div class="carousel-item">
      <figure class="image is-2by1">
        <img src="../images/unedited/group-photo-640.jpg" />
      </figure>
    </div>
    <div class="carousel-item">
      <figure class="image is-2by1">
        <img src="../images/unedited/man-pointing-bowl-640.jpg" />
      </figure>
    </div>
    <div class="carousel-item">
      <figure class="image is-2by1">
        <img src="../images/unedited/man-throwing-bowl-640.jpg" />
      </figure>
    </div>
    <div class="carousel-item">
      <figure class="image is-2by1">
        <img src="../images/unedited/medal-winners-640.jpg" />
      </figure>
    </div>
    <div class="carousel-item">
      <figure class="image is-2by1">
        <img src="../images/unedited/three-bowls-640.jpg" />
      </figure>
    </div>
    <div class="carousel-item">
      <figure class="image is-2by1">
        <img src="../images/unedited/trophy-winner-640.jpg" />
      </figure>
    </div>
  </div>
  <div class="carousel-navigation is-centered">
    <div class="carousel-nav-left">
      <i class="fas fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div class="carousel-nav-right">
      <i class="fas fa-chevron-right" aria-hidden="true"></i>
    </div>
  </div>
</div>
