<nav class="level has-text-white">
  <div class="level-item has-text-centered ">
    <div>
      <p class="heading has-text-white">Summer Leagues</p>
      <p class="title has-text-white">3</p>
    </div>
  </div>
  <div class="level-item has-text-centered has-text-white">
    <div>
      <p class="heading has-text-white">Summer Teams</p>
      <p class="title has-text-white">28</p>
    </div>
  </div>
  <div class="level-item has-text-centered has-text-white">
    <div>
      <p class="heading has-text-white">Fixtures Played</p>
      <p class="title has-text-white">98</p>
    </div>
  </div>
  <div class="level-item has-text-centered has-text-white">
    <div>
      <p class="heading has-text-white">Points so far</p>
      <p class="title has-text-white">392</p>
    </div>
  </div>
</nav>
