<div class="siema">
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="/images/bowlsPink.jpg" />
    </figure>
        <div class="gallery-text">
        <h3>BOOM! 01</h3> <br>
        <a href="#Welcome-To-The-Stadium">Arrow Down</a> 
        </div>   

  </div>
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="/images/trophy.jpg" />
    </figure>
     <div class="gallery-text"><h3>BOOM! 02</h3></div>   
  </div>
  <div class="gallery">
        <figure class="image is-16by9 is-640x360 gallery-image">
          <img src="/images/bowler01.jpg" />
        </figure>
         <div class="gallery-text"><h3>BOOM! 03</h3></div>   
  </div>
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="/images/bowlsBlue.jpg" />
    </figure>
     <div class="gallery-text"><h3>BOOM! 04</h3></div>   
  </div>
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="/images/frames.jpg" />
    </figure>
     <div class="gallery-text"><h3>BOOM! 05</h3></div>   
  </div>
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="/images/bowler02.jpg" />
    </figure>
     <div class="gallery-text"><h3>BOOM! 06</h3></div>   
  </div>
</div>


<style>

.gallery {
     width:auto;
     height:auto;
     position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .gallery-image{
cursor:pointer;
    position: relative;
    display: block;
  }


.gallery-text{
      position: absolute;
      top: 0; right: 0;
      bottom: 0; left: 0;
      width: auto;
      height: auto; 
      text-align: center;
      background-color: rgba(48, 5, 105, 0.68);
      opacity: 1;
      vertical-align:middle;
      padding-top: 24.5%;
  }


  .gallery-text h3{
      color: white;
      display: inline-table;
       vertical-align:middle;
       line-height:100%;            
  }


</style>
