<div class="siema">
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="{{ page.slide01 }}" />
    </figure>
    <div class="gallery-text">
      <img src="../images/belfastIndoorBowlsLogo.png" />
      <h2>
        Think you know indoor bowling?
      </h2>
      <h3>Think again.</h3>
      <br />
    </div>
  </div>
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="{{ page.slide02 }}" />
    </figure>
    <div class="gallery-text">
      <img src="../images/belfastIndoorBowlsLogo.png" />
      <h2>Leagues, Fixtures, Results?</h2>
      <h3>Vist our <a href="/leagues/results.html">results</a> page.</h3>
    </div>
  </div>
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="{{ page.slide03 }}" />
    </figure>
    <div class="gallery-text">
      <img src="../images/belfastIndoorBowlsLogo.png" />
      <h2>Fancy a browse?</h2>
      <h3>Vist our <a href="/news.html">Shop</a> page.</h3>
    </div>
  </div>
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="{{ page.slide04 }}" />
    </figure>
    <div class="gallery-text">
      <img src="../images/belfastIndoorBowlsLogo.png" />
      <h2>Latest News</h2>
      <h3>Vist our <a href="/news.html">News</a> page.</h3>
    </div>
  </div>
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="{{ page.slide05 }}" />
    </figure>
    <div class="gallery-text">
      <img src="../images/belfastIndoorBowlsLogo.png" />
      <h2>Corporate Events / + Hire</h2>
      <h3>Vist our <a href="/hire.html">Hire</a> page.</h3>
    </div>
  </div>
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="{{ page.slide06 }}" />
    </figure>
    <div class="gallery-text">
      <img src="../images/belfastIndoorBowlsLogo.png" />
      <h2>Would you like to apply to become a member?</h2>
      <h3>Vist our <a href="/hire.html">Join</a> page.</h3>
    </div>
  </div>
</div>
