<div class="siema">
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="{{ page.slide01 }}" />
    </figure>
    <div class="gallery-text">
      <h3>BOOM! 01</h3>
      <br />
      <a href="#Welcome-To-The-Stadium">Arrow Down</a>
    </div>
  </div>
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="{{ page.slide02 }}" />
    </figure>
    <div class="gallery-text"><h3>BOOM! 02</h3></div>
  </div>
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="{{ page.slide03 }}" />
    </figure>
    <div class="gallery-text"><h3>BOOM! 03</h3></div>
  </div>
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="{{ page.slide04 }}" />
    </figure>
    <div class="gallery-text"><h3>BOOM! 04</h3></div>
  </div>
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="{{ page.slide05 }}" />
    </figure>
    <div class="gallery-text"><h3>BOOM! 05</h3></div>
  </div>
  <div class="gallery">
    <figure class="image is-16by9 is-640x360 gallery-image">
      <img src="{{ page.slide06 }}" />
    </figure>
    <div class="gallery-text"><h3>BOOM! 06</h3></div>
  </div>
</div>
